#libros{
	background-color: red;
	//display:none;
}

#musica{
	background-color: blue;
	display:none;
}

#notas{
	background-color: green;
	display:none;	
}

#contenido{
	background-color: blue;
	display:none;	
}

#cuerpo {
	padding: 0;
	margin: 0;
}